---
---
<div id="hamburger" class="cursor-pointer absolute md:hidden z-50 top-5 right-5">
    <div class="line bg-orange-300 w-10 h-1 mb-2 transition-transform duration-300"></div>
    <div class="line bg-orange-300 w-10 h-1 mb-2 transition-opacity duration-300"></div>
    <div class="line bg-orange-300 w-10 h-1 transition-transform duration-300"></div>
</div>